.ImageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  position: relative;

  > .error {
    @extend .text_large;
    width: 100%;
    text-align: center;
    margin-top: 0;
    color: $red;
  }

  @import './ImageListItem';

  @include tablet {
    > .error {
      @include text_normal();
    }
  }

  @include mobile {
    > .error {
      @include text_small();
    }
  }
}