$mobile_size: 480px;
$tablet_size: 800px;

$grey_white: #f4f4f4;
$white: white;
$grey: #a1a1a1;
$blue: #5e95bb;
$red: red;
$background_grey_transparent: rgba(54, 54, 54, 0.9);

$size_xlarge: 50px;
$line_xlarge: 60px;

$size_larger: 40px;
$line_larger: 50px;

$size_large: 30px;
$line_large: 40px;

$size_normal: 15px;
$line_normal: 20px;

$size_small: 12px;
$line_small: 15px;

$size_smaller: 9px;
$line_smaller: 12px;

$size_smallest: 6px;
$line_smallest: 9px;